/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*body{
   width: 100%;
   height: 100%;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left:0px;
   margin-right:0px;
   font-family: "sans-serif";
   background-color: #222222;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: right bottom;
   overflow: auto;
   text-decoration:none;
}*/

.glass-header {
  background-color: RGB(28,41,52);
  width: 1000px;
  height: 50px;
  position:absolute;
  top: 35px;
}


.glass-header li {
  list-style-type: none;
  float: left;
  margin-left: 10px;
}

.container{
   width:1000px;
   height:600px;
   margin-top: 10px;
   margin-right: auto;
   margin-left: auto;
   /*background-color: #00ff00*/
}

.glass{
  margin-top: 85px;
  height: 500px;
  background-color: #111;
  opacity:0.9;
  -webkit-filter: blur(2px);
}

.top-image{
	width:1000px;
	height:100%;
}

.sign-up {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 100px;
  right: 400px;
  background-color: #fff;
  z-index: 10000000;
}

.sign-in {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 400px;
  right: 400px;
  background-color: #fff;
  z-index: 10000000;
}

.header-icon{
  width:20px;
  height:20px;
}

.header-menu{
  font-size: 20px;
  color:#fff;
  padding:3px;
}
