/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.glass-header {
  background-color: #eee;
  width: 1000px;
  height: 50px;
  position:absolute;
  top: 0px;
}


.glass-header li {
  list-style-type: none;
  float: left;
  margin-left: 10px;
}

.container{
   width:1000px;
   height:600px;
   margin-right: auto;
   margin-left: auto;
   /*background-color: #00ff00*/
}

.glass{
  margin-top: 50px;
  height: 500px;
  background-color: #111;
  opacity:0.9;
  -webkit-filter: blur(2px);
}

img{
	width:1000px;
	height:100%;
}


