<!DOCTYPE html>
<html>
  <head>
    <title>Doya</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="glass-header">
        <ul>
          <li>
            <img src="assets/home.png" class="header-icon">
            <a class="header-menu">Home</a>
          </li>
          <li>test2</li>
          <li>test3</li>
        </ul>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
